<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <!-- Breadcrumb-v1 -->
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="#" data-th-href="@{/admin}">Admin</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item">
                <span class="g-valign-middle"><a href="#" data-th-href="@{/admin/users}">Benutzer</a></span>
            </li>
        </ul>
    </div>
    <!-- End Breadcrumb-v1 -->

    <div class="g-pa-20">

        <div class="g-mb-20">
            <div class="d-flex">
                <div class="align-self-md-center">
                    <header>
                        <h2 class="g-font-weight-400 g-font-size-16 g-color-black mb-0" data-th-text="'Benutzer ' + ${user.login}">Benutzer</h2>
                    </header>     
                    
                    <div class="h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md">
                        <form action="#" data-th-action="@{/admin/users/{id}(id=${user.id})}" data-th-object="${user}" method="post">
                            <input type="hidden" data-th-field="*{id}" />
                            <p>Login: <input type="text" data-th-field="*{login}" /></p>
                            <p>Email: <input type="text" data-th-field="*{email}" /></p>
                            <p>Locked: <input type="checkbox" data-th-field="*{locked}" /></p>
                            <p>Verified: <input type="checkbox" data-th-field="*{verified}" /></p>
                            <p>Failed Logins <input type="text" data-th-field="*{failedLogins}" /></p>
                            
                            <p><input type="submit" value="Speichern" /></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
        
    </div>
</div>        
