<div class="container g-py-150 text-center">
  <h1 class="g-font-size-60 mb-4">Neue Inhalt hinzufügen</h1>

  <a href="#" data-th-href="@{/workspace/add/article}" class="btn btn-xl btn-block u-btn-3d u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
    <i class="fa fa-file-text-o g-mr-3"></i>
        Artikel erstellen
  </a>

    <a href="#" data-th-href="@{/workspace/add/news}" class="btn btn-xl btn-block u-btn-3d u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
        <i class="fa fa-newspaper-o g-mr-3"></i>
        News erstellen
    </a>

  <a class="btn btn-sm u-btn-darkgray g-mr-10 g-mb-15" data-th-href="@{/}">
      <i class="fa fa-home g-mr-3"></i>
      Zurück zur Startseite
  </a>
</div>