<div class="headline"><h1>Über Holarse</h1></div>
<h2>Linux als Spieleplattform</h2>
<p>Holarse zeigt, dass man nicht nur mit Windows spielen kann. Die Menge der Spiele wird größer und wir berichten darüber.
Linux auf LAN-Parties

Mit welchen Spielen kann man auf LAN-Parties gehen? Welche Spiele gibt es für Linux, welche kann ich mit WINE, CrossOver &amp; Cedega wrappen?
Linux als Spiele-Server

Natürlich widmen wir uns auch dem klassischen Anwendungsgebiet eines Linuxrechners, dem Serverdasein. Hier erfahrt ihr alles darüber, wie man Dedicated Server für Linux zum Laufen bekommt. Linux-News, Community uvm!

Darüber hinaus gibt es Infos über Treiber, Ankündigungen, ausführliche News und weitere Infos aus der Gamer-Community!</p>

<h2>Holarse??</h2>
<p>
Holarse. Ganz einfach eigentlich - aber irgendwie auch nicht. Das schönste vorweg: jemanden RL zu treffen, der Holarse bisher immer nur geschrieben, aber nie ausgesprochen hat, ist einer der erheiternsten Aspekte des Namens. Sieht sich der geneigte Leser plötzlich gezwungen Holarse auszusprechen, weicht er meist auf ein "Ähh.. deine Seite… (...)" oder ein simples - aber natürlich rotzfrech gelogenes - "Sagmal wie hieß deine Seite noch gleich...?" aus. Der mutige Leser versucht es mit einem "Du bist also der von Ho… - wie spricht man das eigentlich aus? -" und die ganz unbedarften sagen einfach "Hey, bist du nicht der von HHHOOLARSÄ?"
Aber zurück zum Thema und die Fragen, die uns wirklich beschäftigen: bedeutet Holarse etwas? Wenn ja, wer oder was ist ein Holarse? Kann man das essen? Schmeckt's gut? Schämt ihr euch nicht, daß es im Englischen wie "hole arse" klingt? Wenn ja, gut so, wenn nein, warum nicht? Krieg ich auch ein Holarse? Gibt's das umsonst? Wenn nicht, seid ihr dann mit Bill Gates verwandt? Der Fragenkatalog ließe sich beliebig erweitern.

Holarse hat primär überhaupt nichts mit Spielen unter Linux zu tun, bedeutet nichteinmal etwas und entstand aus der tödlichen Langweile, die nur Schulunterricht erzeugen kann:

Es waren einmal… Comrad, Towarisch und Abdo. Und wie ihr euch denken könnt, ist es für Jungs mit Hormonstau und tierischer Langweile nicht einfach dem Unterricht zu folgen.

Abdo also betrat den Raum, hob die Hand und sprach nicht etwa "Ave!" sondern "Holarse!" Erklärung für selbiges lässt sich aus den hervorragenden Sprachkenntnissen des Protagonisten herleiten: "Hola", spanisch für "Hallo", ergibt zum Verb degradiert "holar". Und um das ganze wieder aufzuwerten, wird "holar" noch mittels einem "se" in ein reflexives Verb umgewandelt und gelangt somit zu seiner endgültigen Form: holarse.

Dem Spieltrieb folgend erwarb Comrad dann eine Domain (holarse.de) und was zuerst als reiner eMail-Adressen-Spender gedacht war entwickelte sich mit der Zeit zu der ersten deutschen Linuxspiele Seite.

Zu danken ist an dieser Stelle all denjenigen, die geholfen haben Holarse zu dem zu machen, was es ist und der deutschen Linuxspiele-Community ein Gesicht zu geben: Leviathan, Christian, Bender, Pierre, Towarisch, Lordi und Michael Gripentrog (er hat Comrad zu Linux geführt!)
</p>

<h2>Timeline</h2>
<p>
Wie sich Holarse im Laufe der Jahre gewandelt und geändert hat, könnt ihr in der Timeline von Holarse nachsehen.

<h2>Warum kein Android?</h2>
<p>
<i>"Wieso gibt es hier keine Android-Spiele? Android ist doch auch Linux und es läuft mit Java, welches es auch für Linux gibt."</i>
Ja, das ist alles richtig. Aber Androidspiele laufen nun mal nicht auf einem Linux-Betriebssystem wie OpenSUSE, Debian oder Ubuntu. Genauso wenig laufen Linuxspiele ohne Portierungsaufwand auf einem Android-Betriebssystem. Daher werdet ihr hier keine Androidspiele finden. Zu diesem Zweck gibt es andere, besser geeignetere Plattformen, wie Droid Gamers.</p>

<h2>Was ist mit dem Logo?</h2>
<p>Das Logo, um genau zu sein der Born To Frag-Pinguin stammt von Penguin Computing und wurde quasi als Public Domain freigegeben. Die Schrift ist Verdana Bold, das a ist URW Gothic L Book.</p>
