<div class="container content">
  <p>Verantwortlich nach &sect; 5 TMG:</p>

  <ul class="list-unstyled who">
    <li>
      <i class="fa fa-user"></i>
      Bernd Ritter
    </li>
    <li>
      <i class="fa fa-home"></i>
      Roggenkamp 32, 27751 Delmenhorst
    </li>
    <li>
      <i class="fa fa-envelope"></i>
      contact at holarse-linuxgaming dot com
    </li>
  </ul>
</div>
