<!-- Login -->
<div class="row justify-content-center">
    <div class="col-sm-8 col-lg-5">
        <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
            <header class="text-center mb-4">
                <h2 class="h2 g-color-black g-font-weight-600">Die News-Beiträge</h2>
            </header>

            <ul data-th-each="item : ${items}">
                <li><a href="#" data-th-href="@{/news/{slug}(slug=${item.slug})}" data-th-text="${item.title}"></a></li>
            </ul>
            
        </div>
    </div>
</div>
<!-- End Login -->


