<!-- Login -->
<div class="row justify-content-center">
    <div class="col-sm-10">
        <div class="u-shadow-v21 g-bg-white rounded">

            <header class="u-heading-v2-1--bottom g-mb-30">
                <h2 class="u-heading-v2__title g-mb-10" data-th-text="${view.title}">Lorem ipsum standard</h2>
                <h4 class="g-font-weight-200" data-th-text="${view.newsCategory?.name}"></h4>                
            </header>
            <section>
                <p data-th-text="${view.content}"></p>
            </section>
        </div>
    </div>
    <div class="col-sm-2">
        <ul class="list-group list-group-horizontal">
            <a href="?edit" class="list-group-item flex-fill">bearbeiten</a>
            <a href="#" class="list-group-item flex-fill" data-th-href="@{/news/{nodeId}/revisions(nodeId=${view.nodeId})}">Änderungen</a>
            <a href="#" class="list-group-item flex-fill">Statistik</a>
        </ul>

        <div class="u-heading-v1-2 g-bg-main g-brd-primary g-mb-20">
            <h2 class="h3 u-heading-v1__title">Tags</h2>
        </div>
        <ul th:replace="~{sites/shared/tags/list :: taglist(tags=${view.tagList})}"></ul>

        <div class="u-heading-v1-2 g-bg-main g-brd-primary g-mb-20">
            <h2 class="h3 u-heading-v1__title">Links</h2>
        </div>
        <p th:replace="~{sites/shared/links :: links(links=${view.websiteLinks})}"></p>
    </div>
</div>
<!-- End Login -->


