
name: holarse
services:
  front:
    image: caddy:2.10
    restart: on-failure
    ports:
      - "127.0.0.1:80:80"
    volumes:
      - ./development/caddy/conf:/etc/caddy
      - caddy_data:/data
    networks:
      - holarse-front
      - holarse-back
  db:
    image: postgres:15
    restart: on-failure
    environment:
      POSTGRES_USER: holarse
      POSTGRES_PASSWORD: geheim
      POSTGRES_DB: holarse
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - website_my_pgdata:/var/lib/postgresql/data
    networks:
      - holarse-back

  queue:
      restart: on-failure
      build: development/amq/
      ports:
        - "127.0.0.1:8161:8161"
        - "127.0.0.1:61616:61616"
      volumes:
        - amq_journal_data:/opt/holaq/data
      networks:
        - holarse-back

  app:
    build:
      context: .
      dockerfile: development/app/Dockerfile
    restart: no
    env_file:
      - development/oci.env
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - ./app/target/:/app:ro
    networks:
      - holarse-back
  cache:
      image: memcached:latest
      restart: on-failure      
      ports:
        - "127.0.0.1:11212:11212"
      networks:
        - holarse-back
  mail:
    image: axllent/mailpit
    restart: on-failure    
    ports:
      - "127.0.0.1:8025:8025"
      - "127.0.0.1:1025:1025"
    networks:
      - holarse-front
      - holarse-back

volumes:
  website_my_pgdata: 
  amq_journal_data:
  caddy_data:

networks:
  holarse-front:
  holarse-back:

