
# Use postgres/example user/password credentials
services:
  front:
    image: caddy:2.10-alpine
    container_name: front
    ports:
      - 80:80
    volumes:
      - ./development/caddy/conf:/etc/caddy
    networks:
      - holarse-dev
  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: holarse
      POSTGRES_PASSWORD: geheim
      POSTGRES_DB: holarse
    ports:
      - 5432:5432
    volumes:
      - website_my_pgdata:/var/lib/postgresql/data
    networks:
      - holarse-dev

  amq:
      container_name: amq
      restart: on-failure      
      build: development/amq/
      ports:
        - 8161:8161
        - 61616:61616
      volumes:
        - amq_journal_data:/opt/holaq/data
      networks:
        - holarse-dev

  app:
    container_name: app
    build:
      context: .
      dockerfile: development/app/Dockerfile
    restart: no
    ports:
      - 8080:8080
      - 9090:9090
    volumes:
      - ./app/target/:/app:ro
    networks:
      - holarse-dev
  cache:
      image: memcached:latest
      container_name: cache
      restart: on-failure      
      ports:
        - 11212:11212
      networks:
        - holarse-dev

  mail:
    image: axllent/mailpit
    container_name: mail
    restart: on-failure    
    ports:
      - 8025:8025
      - 1025:1025
    networks:
      - holarse-dev

volumes:
  website_my_pgdata: 
  amq_journal_data:

networks:
  holarse-dev:
    driver: bridge
