<section class="g-pt-50 g-pb-90">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Revisionen</th>
                        <th><div data-th-text="${view1.revision}">Revision 1</div></th>
                        <th><div data-th-text="${view2.revision}">Revision 2</div></th>
                    </tr>
                    <tr>
                        <th>Aktualisierung</th>
                        <th><span data-th-text="${view1.updated}"></span></th>
                        <th><span data-th-text="${view2.updated}"></span></th>
                    </tr>
                    <tr>
                        <th>Changelog:</th>
                        <th data-th-text="${view1.changelog}"></th>
                        <th data-th-text="${view2.changelog}"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr data-th-each="diffRow : ${diffRows}">
                            <td data-th-text="${diffRow.getTag()}"></td>
                            <td data-th-text="${diffRow.getOldLine()}"></td>
                            <td data-th-text="${diffRow.getNewLine()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
