<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
        lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="#{application.title}"></title>
    <!-- <title>Holarse - Spielen unter Linux
        <span th-data-text="${title}"></span>
    </title> -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="#" data-th-href="@{/assets/images/holarse/favicon.png}">

    <!-- Holarsified Bootstrap -->
    <link rel="stylesheet" data-th-href="@{/assets/css/holarse.min.css}" href="">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" data-th-href="@{/assets/css/bootstrap-icons.min.css}" href="">

    <!-- Filepond -->
    <link rel="stylesheet" data-th-href="@{/assets/css/filepond.min.css}" href="">

    <!-- ChartsCSS -->
    <link rel="stylesheet" data-th-href="@{/assets/css/charts.min.css}" href="">    
  </head>
<body>
    <!-- Layout -->
    <nav th:replace="~{fragments/header :: top}"></nav>
    <nav th:replace="~{fragments/header :: menu}"></nav>     
    <div class="container-fluid hol-links mt-5">
        <main layout:fragment="content"></main>    
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>

    <!-- Bootstrap -->
    <script data-th-src="@{/assets/js/bootstrap.min.js}"></script>

    <!-- Popper for Tooltips -->
    <script data-th-src="@{/assets/js/popper.min.js}"></script>

    <!-- Filepond -->
    <script data-th-src="@{/assets/js/filepond.min.js}"></script>

    <!-- JS Custom -->
    <script data-th-src="@{/assets/js/custom.js}"></script>    

    <!-- Page-specific javascript -->
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>