<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de-de">
  <head>
    <!-- Title -->
    <title>Holarse - Spielen unter Linux
        <span th-data-text="${title}"></span>
    </title>

    <div data-th-replace="~{fragments/head_top}"></div>
  </head>

  <body>
      <div data-th-replace="~{fragments/header}"></div>
      <div class="container-fluid g-px-30 g-py-200">
        <div data-th-replace="~{${content}}"></div>
      </div>
      <div data-th-replace="~{fragments/footer}"></div>
      
      <div data-th-replace="~{fragments/goto}"></div>


    <div data-th-replace="~{fragments/head_bottom}"></div>
    
  <!-- JS Plugins Init. -->
  <script>
  </script>    
  </body>
</html>
