<li class="dropdown active">
  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
    Bearbeiten
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Neuer Artikel", new_article_path %></li>
    <% if @article and @article.persisted? %>
      <li><%= link_to "Bearbeiten", edit_article_path(@article) %></li>
    <% end %>
  </ul>
</li>
