/* Add here all your css styles (customizations) */
.u-searchform-v1 {
    position: relative;
}

.g-bg-holarse {
    background-color: #e84d3c;
}

.btn-primary, .btn-primary :hover {
    background-color: #e84d3c;
    border-color: #e84d3c;
}

a g-color-primary--hover {
    color: #e84d3c;
}

.holarse-box-shadow {
    box-shadow: 0 0 5px #aaa;
}

.container {
    max-width: 85%;
}

.g-brd-primary {
    border-color: #e84d3c !important;    
}

.g-brd-primary--hover:hover, .g-brd-primary--active.active {
    border-color: #e84d3c !important;
}

.g-brd-primary--hover:hover, .g-brd-primary--active.active {
    background-color: #e84d3c !important;
}

.g-bg-primary--hover:hover {
    background-color: #e84d3c !important;    
}

.navbar .u-main-nav-v5 .nav-item.active > .nav-link, .navbar .u-main-nav-v5 .nav-item:hover > .nav-link, .navbar .u-main-nav-v5 .nav-item:focus > .nav-link, .navbar .u-main-nav-v5 .nav-item.show > .nav-link, .navbar .u-main-nav-v5 .nav-item.hs-sub-menu-opened > .nav-link, .navbar .u-main-nav-v5 .nav-item .nav-link:focus {
    border-color: #e84d3c !important;
}

.u-block-hover:hover .g-color-primary--hover, .g-color-primary--hover:hover {
    color: #e84d3c !important;    
}

a, a:focus, a:hover {
    color: #e84d3c !important; 
}

a.u-btn-primary {
    border-color: #cc0000 !important;
    background-color: #e84d3c !important;
    color: #fff !important;
}

a.u-btn-primary:hover, a.u-btn-primary.active {
    border-color: #cc0000 !important;
    background-color: #e84d3c !important;
    color: #000 !important;
}

button.u-btn-primary {
    border-color: #cc0000 !important;
    background-color: #e84d3c !important;
    color: #fff !important;
}

button.u-btn-primary:hover, button.u-btn-primary.active {
    border-color: #cc0000 !important;
    background-color: #e84d3c !important;
    color: #000 !important;
}

.u-go-to-v1 {

}

.u-go-to-v1:hover, .u-go-to-v1:focus:hover {
}

[class*="u-nav-v8"] .nav-link.active {
    background-color: #e84d3c;
}

[class*="u-nav-v8"] .nav-link.active .u-nav-v8__icon {
    background-color: #e84d3c;
}

.u-nav-v8-2 .nav-link.active::before {
    background-image: linear-gradient(to bottom left, transparent 49.6%, #e84d3c 50%), linear-gradient(to top left, transparent 49.6%, #e84d3c 50%); 
}

a .u-nav-v8__title {
    color: #fff !important;
}

a.external-link::after {
  font-family: 'FontAwesome'; content: " \f08e";
}