<!--=== Profile ===-->
    <div class="profile">	
        <div class="container content">
        	<div class="row">
                <!--Left Sidebar-->
                <div class="col-md-3 md-margin-bottom-40">
                    <img class="img-responsive profile-img margin-bottom-20" src="assets/img/team/5.jpg" alt="">

                    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                        <li class="list-group-item">
                            <a href="profile.html"><i class="fa fa-bar-chart-o"></i> Overall</a>
                        </li>
                        <li class="list-group-item">
                            <a href="profile_me.html"><i class="fa fa-user"></i> Profile</a>
                        </li>
                        <li class="list-group-item active">
                            <a href="profile_users.html"><i class="fa fa-group"></i> Users</a>
                        </li>                                        
                        <li class="list-group-item">
                            <a href="profile_projects.html"><i class="fa fa-cubes"></i> My Projects</a>
                        </li>
                        <li class="list-group-item">
                            <a href="profile_comments.html"><i class="fa fa-comments"></i> Comments</a>
                        </li>                                        
                        <li class="list-group-item">
                            <a href="profile_history.html"><i class="fa fa-history"></i> History</a>
                        </li>                                       
                        <li class="list-group-item">
                            <a href="profile_settings.html"><i class="fa fa-cog"></i> Settings</a>
                        </li> 
                    </ul>   

                    <div class="panel-heading-v2 overflow-h">
                        <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Task Progress</h2>
                        <a href="#"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <h3 class="heading-xs">Web Design <span class="pull-right">92%</span></h3>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                    </div>
                    <h3 class="heading-xs">Unify Project <span class="pull-right">85%</span></h3>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-blue">
                        </div>
                    </div>
                    <h3 class="heading-xs">Sony Corporation <span class="pull-right">64%</span></h3>
                    <div class="progress progress-u progress-xxs margin-bottom-40">
                        <div style="width: 64%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="64" role="progressbar" class="progress-bar progress-bar-dark">
                        </div>
                    </div>

                    <hr>

                    <!--Notification-->
                    <div class="panel-heading-v2 overflow-h">
                        <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                        <a href="#"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <ul id="scrollbar5" class="list-unstyled contentHolder margin-bottom-20">
                        <li class="notification">
                            <i class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-envelope"></i>
                            <div class="overflow-h">
                                <span><strong>Albert Heller</strong> has sent you email.</span>
                                <small>Two minutes ago</small>
                            </div>    
                        </li>
                        <li class="notification">
                            <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
                            <div class="overflow-h">
                                <span><strong>Taylor Lee</strong> started following you.</span>
                                <small>Today 18:25 pm</small>
                            </div>    
                        </li>
                        <li class="notification">
                            <i class="icon-custom icon-sm rounded-x icon-bg-yellow icon-line fa fa-bolt"></i>
                            <div class="overflow-h">
                                <span><strong>Natasha Kolnikova</strong> accepted your invitation.</span>
                                <small>Yesterday 1:07 pm</small>
                            </div>    
                        </li>
                        <li class="notification">
                            <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
                            <div class="overflow-h">
                                <span><strong>Mikel Andrews</strong> commented on your Timeline.</span>
                                <small>23/12 11:01 am</small>
                            </div>    
                        </li>
                        <li class="notification">
                            <i class="icon-custom icon-sm rounded-x icon-bg-blue icon-line fa fa-comments"></i>
                            <div class="overflow-h">
                                <span><strong>Bruno Js.</strong> added you to group chating.</span>
                                <small>Yesterday 1:07 pm</small>
                            </div>    
                        </li>
                        <li class="notification">
                            <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
                            <div class="overflow-h">
                                <span><strong>Taylor Lee</strong> changed profile picture.</span>
                                <small>23/12 15:15 pm</small>
                            </div>    
                        </li>
                    </ul>    
                    <button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
                    <!--End Notification-->

                    <div class="margin-bottom-50"></div>

                    <!--Datepicker-->
                    <form action="" id="sky-form2" class="sky-form">
                        <div id="inline-start"></div>
                    </form> 
                    <!--End Datepicker-->
                </div>
                <!--End Left Sidebar-->
                
                <div class="col-md-9">
                    <!--Profile Body-->
                    <div class="profile-body margin-bottom-20">
                        <!--Profile Blog-->
                        <div class="row margin-bottom-20">
                            <div class="col-sm-6 sm-margin-bottom-20">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Mikel Andrews</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">California,</a> <a href="#">US</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">12 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">54 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div>
                            </div>        

                            <div class="col-sm-6">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img4.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Natasha Kolnikova</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">37 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">46 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div> 
                            </div>    
                        </div><!--/end row-->   
                        <!--End Profile Blog-->

                        <!--Profile Blog-->
                        <div class="row margin-bottom-20">
                            <div class="col-sm-6 sm-margin-bottom-20">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Sasha Elli</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">California,</a> <a href="#">US</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">3 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">25 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div>
                            </div>        

                            <div class="col-sm-6">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img3.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Frank Heller</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">7 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">77 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div> 
                            </div>    
                        </div><!--/end row-->   
                        <!--End Profile Blog-->

                        <!--Profile Blog-->
                        <div class="row margin-bottom-20">
                            <div class="col-sm-6 sm-margin-bottom-20">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Taylor Lee</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">California,</a> <a href="#">US</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">0 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">9 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div>
                            </div>        

                            <div class="col-sm-6">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img5.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Natalia J.</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">56 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">125 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div> 
                            </div>    
                        </div><!--/end row-->

                        <!--Profile Blog-->
                        <div class="row margin-bottom-20">        
                            <div class="col-sm-6 sm-margin-bottom-20">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img4.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Natasha Kolnikova</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">37 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">46 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div> 
                            </div>        

                            <div class="col-sm-6">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Taylor Lee</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">California,</a> <a href="#">US</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">0 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">9 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div>
                            </div>    
                        </div><!--/end row-->   
                        <!--End Profile Blog-->

                        <!--Profile Blog-->
                        <div class="row margin-bottom-20">
                            <div class="col-sm-6 sm-margin-bottom-20">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img3.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Frank Heller</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">7 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">77 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div> 
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="profile-blog">
                                    <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                                    <div class="name-location">
                                        <strong>Sasha Elli</strong>
                                        <span><i class="fa fa-map-marker"></i><a href="#">California,</a> <a href="#">US</a></span>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>    
                                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                                    <hr>
                                    <ul class="list-inline share-list">
                                        <li><i class="fa fa-bell"></i><a href="#">3 Notifications</a></li>
                                        <li><i class="fa fa-group"></i><a href="#">25 Followers</a></li>
                                        <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                                    </ul>
                                </div>
                            </div>    
                        </div><!--/end row-->

                        <button type="button" class="btn-u btn-u-default btn-block text-center">Load More</button>   
                        <!--End Profile Blog-->
                    </div>
                    <!--End Profile Body-->
                </div>
            </div><!--/end row-->
        </div><!--/container-->    
    </div>		
    <!--=== End Profile ===-->