<div class="container content blog-full-width">
  
  <form action="" class="sky-form">
    <header>Neue News verfassen</header>
    <fieldset>
      <section>
        <label class="label">Titel</label>
        <label class="input">
          <input type="text">
        </label>
      </section>
      <section>
        <label class="label">Inhalt</label>
        <label class="textarea textarea-expandable">
          <textarea rows="3"></textarea>
        </label>
        <div class="note"><strong>Note:</strong> expands on focus.</div>
      </section>
    </fieldset>
    <fieldset>
      <section>
         <label class="label">Ratings with different icons</label>
                            <div class="rating">
                                <input type="radio" name="stars-rating" id="stars-rating-5">
                                <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-4">
                                <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-3">
                                <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-2">
                                <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-1">
                                <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                                Stars
                            </div>        
      </section>
    </fieldset>
    <footer>
      <button type="submit" class="btn-u">Submit</button>
    </footer>
  </form>
  
</div>