<!-- Nav tabs -->
<ul class="nav u-nav-v1-1 u-nav-primary g-brd-bottom--md g-brd-primary g-mb-20" role="tablist" data-target="nav-1-1-default-hor-left-underline" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-primary g-mb-20">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#article-edit-tab-main" role="tab">Titel + Inhalt</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#article-edit-tab-alternative-titles" role="tab">Alternativ-Titel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#article-edit-tab-links" role="tab">Links</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#article-edit-tab-settings" role="tab">Einstellungen</a>
    </li>    
</ul>
<!-- End Nav tabs -->

<!-- Tab panes -->
<div id="nav-1-1-default-hor-left-underline" class="tab-content">
    <!-- Tab Titel + Inhalt -->
    <div class="tab-pane fade show active" id="article-edit-tab-main" role="tabpanel">

        <!-- Title 1 -->
        <div class="form-group g-mb-20">
            <label class="col-sm-3 col-form-label g-mb-10" for="title1">Titel</label>
            <input data-th-field="*{title1}" class="form-control form-control-md rounded-0" type="text" placeholder="Haupttitel des Artikels">
        </div>
        <!-- End Title 1 -->

        <!-- Title 7 -->
        <div class="form-group g-mb-20">
            <label class="col-sm-3 col-form-label g-mb-10" for="tags">Tags</label>
            <input data-th-field="*{tags}" class="form-control form-control-md rounded-0" type="text" placeholder="Tags kommasepariert">
        </div>
        <!-- End Title 7 -->        

        <!-- Textarea Expandable -->
        <div class="form-group g-mb-20">
            <label class="col-sm-3 col-form-label g-mb-10" for="content">Inhalt</label>
            <textarea data-th-field="*{content}" class="form-control form-control-md rounded-0" rows="10" placeholder="Text area"></textarea>
            <small class="form-text text-muted g-font-size-default g-mt-10">
                <strong>Hinweis:</strong> Die Hilfeseite zur Wiki-Syntax findet ihr <a href="#" th:href="@{/help/wiki-syntax}" target="_blank">hier</a>.
            </small>
        </div>
        <!-- End Textarea Expandable -->          
    </div>

    <!-- Tab Alternativtitel -->
    <div class="tab-pane fade show" id="article-edit-tab-alternative-titles" role="tabpanel">

        <!-- Title 2 -->
        <div class="form-group g-mb-20 block-title block-title2">
            <label class="col-sm-3 col-form-label g-mb-10" for="title2">Alternativtitel (2)</label>
            <input data-th-field="*{title2}" class="form-control form-control-md rounded-0" type="text" placeholder="Mögliche alternative Titel">
        </div>
        <!-- End Title 2 -->        

        <!-- Title 3 -->
        <div class="form-group g-mb-20 block-title block-title3">
            <label class="col-sm-3 col-form-label g-mb-10" for="title3">Alternativtitel (3)</label>
            <input data-th-field="*{title3}" class="form-control form-control-md rounded-0" type="text" placeholder="Mögliche alternative Titel">
        </div>
        <!-- End Title 3 -->    

        <!-- Title 4 -->
        <div class="form-group g-mb-20 block-title block-title4">
            <label class="col-sm-3 col-form-label g-mb-10" for="title4">Alternativtitel (4)</label>
            <input data-th-field="*{title4}" class="form-control form-control-md rounded-0" type="text" placeholder="Mögliche alternative Titel">
        </div>
        <!-- End Title 4 -->   

        <!-- Title 5 -->
        <div class="form-group g-mb-20 block-title block-title5">
            <label class="col-sm-3 col-form-label g-mb-10" for="title5">Alternativtitel (5)</label>
            <input data-th-field="*{title5}" class="form-control form-control-md rounded-0" type="text" placeholder="Mögliche alternative Titel">
        </div>
        <!-- End Title 5 -->   

        <!-- Title 6 -->
        <div class="form-group g-mb-20 block-title block-title6">
            <label class="col-sm-3 col-form-label g-mb-10" for="title6">Alternativtitel (6)</label>
            <input data-th-field="*{title6}" class="form-control form-control-md rounded-0" type="text" placeholder="Mögliche alternative Titel">
        </div>
        <!-- End Title 6 -->   

        <!-- Title 7 -->
        <div class="form-group g-mb-20 block-title block-title7">
            <label class="col-sm-3 col-form-label g-mb-10" for="title7">Alternativtitel (7)</label>
            <input data-th-field="*{title7}" class="form-control form-control-md rounded-0" type="text" placeholder="Mögliche alternative Titel">
        </div>
        <!-- End Title 7 -->
    </div>    

    <!-- Tab Links -->
    <div class="tab-pane fade show" id="article-edit-tab-links" role="tabpanel">

        <ul data-th-each="websiteLink,iter : *{websiteLinks}">
            <!-- Website Link -->
            <div class="form-group g-mb-20 block-title block-title7">

                <span th:text="Link + ' ' + |${iter.count}|"></span>
                <input data-th-field="*{websiteLinks[__${iter.index}__].id}" type="hidden">
                
                <input data-th-field="*{websiteLinks[__${iter.index}__].weight}" type="hidden">
                <input data-th-field="*{websiteLinks[__${iter.index}__].markAsDeleted}" type="hidden">

                <label class="col-sm-3 col-form-label g-mb-10" th:for="${'websiteLinks[__${iter.index}__].description'}">Beschreibung</label>
                <input data-th-field="*{websiteLinks[__${iter.index}__].description}" class="form-control form-control-md rounded-0" type="text" placeholder="Link zum Projekt/Webseite">

                <label class="col-sm-3 col-form-label g-mb-10" th:for="${'websiteLinks[__${iter.index}__].data'}">URL</label>
                <input data-th-field="*{websiteLinks[__${iter.index}__].data}" class="form-control form-control-md rounded-0" type="text" placeholder="Link zum Projekt/Webseite">            

                
                
            </div>
            <!-- End Website Link -->
        </ul>
        <!-- Neuer Eintrag -->
        <div class="form-group g-mb-20 block-title block-title7">

            <span>Neuer Link</span>
            <input name="websiteLinks[1].id" type="hidden">
            <input name="websiteLinks[1].weight" type="hidden" value="0">
            <input name="websiteLinks[1].markAsDeleted" type="hidden" value="0">

            <label class="col-sm-3 col-form-label g-mb-10" for="form.websiteLinks[][description]">Beschreibung</label>
            <input name="websiteLinks[1].description" class="form-control form-control-md rounded-0" type="text" placeholder="Link zum Projekt/Webseite">

            <label class="col-sm-3 col-form-label g-mb-10" for="form.websiteLinks[][data]">URL</label>
            <input name="websiteLinks[1].data" class="form-control form-control-md rounded-0" type="text" placeholder="Link zum Projekt/Webseite">            

        </div>        

    </div>    

    <!-- Tab Einstellungen -->
    <div class="tab-pane fade show" id="article-edit-tab-settings" role="tabpanel">

        <!-- Toggles Checkbox -->
        <div class="form-group">
            <label class="d-flex align-items-center justify-content-between">Veröffentlicht?</label>
            <input class="" type="checkbox" checked="" data-th-field="*{settings.published}">
        </div>
        <!-- End Toggles Checkbox -->        
    </div>    


    <div class="form-group">
        <input type="submit" value="Speichern" class="btn btn-md u-btn-primary g-mr-10 g-mb-15" />
    </div>