<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="de">

        <title>Holarse - Spielen unter Linux - [[${article.mainTitle}]]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body th:inline="text">
        <div th:replace="fragments/header :: header"></div>

        <h2>[[${article.mainTitle}]]</h2>
        <p>[[${article.uid}]]</p>
        
        <article th:data-uid="${article.uid}">

            <ul>
                <li th:each="tag : ${article.tags}" th:text="${tag.name}"></li>
            </ul>
            
            <hr>
            
            <p th:data-format="${article.content.type}">
                [[${article.content.content}]]
            </p>
        </article>
        
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>
