<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="de">

        <title>Spring Framework Guru</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body th:inline="text">
        <div th:replace="fragments/header :: header"></div>

        <ul>
            <li th:each="article : ${articles}"><a th:href="@{/wiki/{uid}(uid=${article.uid})}">[[${article.mainTitle}]]</a></li>
        </ul>
        
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>
