<div th:fragment="categories(tagGroups)">
    <div id="accordion-11" class="u-accordion u-accordion-bg-primary u-accordion-color-white" role="tablist" aria-multiselectable="true">
        <div th:each="tagGroup: ${tagGroups}">

            <!-- Card -->
            <div class="card g-brd-none rounded-0 g-mb-15">
                <div id="accordion-11-heading-01" class="u-accordion__header g-pa-0" role="tab">
                    <h5 class="mb-0">
                        <a class="d-block g-color-main g-text-underline--none--hover g-brd-around g-brd-gray-light-v4 g-rounded-5 g-pa-10-15" href="#accordion-11-body-01" data-toggle="collapse" data-parent="#accordion-11" aria-expanded="true" aria-controls="accordion-11-body-01">
                            <span class="u-accordion__control-icon g-mr-10">
                                <i class="fa fa-angle-down"></i>
                                <i class="fa fa-angle-up"></i>
                            </span>
                            <span th:text="${tagGroup.name}"></span>
                        </a>
                    </h5>
                </div>
                <div id="accordion-11-body-01" class="collapse show" role="tabpanel" aria-labelledby="accordion-11-heading-01">
                    <div class="u-accordion__body g-color-gray-dark-v5">
                        This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial
                        in keeping the project in line to completion.
                        
                        <div th:replace="~{sites/search/tags :: taglist(tags=${tagGroup.tags})}"></div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>        
    </div>
</div>    