<!-- Required Meta Tags Always Come First -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<div data-th-replace="~{fragments/csrf}"></div>

<!-- Favicon -->
<link rel="shortcut icon" href="#" data-th-href="@{/assets/images/holarse/favicon.png}">

<!-- Holarsified Bootstrap -->
<link rel="stylesheet" data-th-href="@{/assets/css/holarse.min.css}" href="">

<!-- Filepond -->
<link rel="stylesheet" data-th-href="@{/assets/css/filepond.min.css}" href="">

<!-- ChartsCSS -->
<link rel="stylesheet" data-th-href="@{/assets/css/charts.min.css}" href="">
