<nav th:fragment="top" class="d-flex align-items-center justify-content-between px-3 py-2 bg-light flex-nowrap top-bar">
    <span class="flex-shrink-1">Hier kommt ein lustiger Spruch!</span>
    <div class="d-flex align-items-center flex-shrink-0">
        <a href="#" th:href="@{/login}" class="btn btn-sm text-white bg-primary mx-3">Login</a>
        <a href="#" th:href="@{/register}" class="me-3 text-dark text-decoration-none">Neues Konto</a>
    </div>
</nav>

<nav th:fragment="menu" class="navbar hol-gradient-bar">
    <div class="d-flex align-items-center justify-content-between px-3 py-2">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/assets/images/holarse/logo-with-text.png}" alt="Logo" width="100%" height="100%"
                class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>