<!-- Register -->
<div class="row justify-content-center">
    <div class="col-sm-10 col-md-9 col-lg-6">
        <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
            <header class="text-center mb-4">
                <h2 class="h2 g-color-black g-font-weight-600">Verifizierung erfolgreich</h2>
            </header>

            <p>
                Das Konto ist nun aktiv und du kannst dich <a href="#" data-th-href="@{/login}">einloggen</a>.
            </p>
        </div>
    </div>
</div>
<!-- End Register -->