@font-face {
    font-family: 'Vollkorn';
    src: url('/assets/fonts/vollkorn/Vollkorn-Regular.eot'); /* IE9+ Compat Modes */
    src: url('/assets/fonts/vollkorn/Vollkorn-Regular.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/vollkorn/Vollkorn-Regular.woff2') format('woff2'), /* Super modern browsers */
        url('/assets/fonts/vollkorn/Vollkorn-Regular.woff') format('woff'), /* Modern browsers */
        url('/assets/fonts/vollkorn/Vollkorn-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

body {
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}

.btn-primary {
    background-color: #e84d3c;    
    border-color: #e84d3c;
}

a {
    color: #e84d3c;
}

a:hover {
    color: #e84d3c;
    text-decoration: underline;
}

.holarse-topbar {
    background-color: #e84d3c;    
    padding: 0;
    padding-left: 0.25%;
}

.holarse-topbar a, .holarse-topbar .btn-link, .holarse-topbar .navbar-text {
    color: #eaeaea;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
}

.holarse-topbar .dropdown-item, .holarse-topbar .dropdown-item:hover {
    font-weight: normal;
    color: #222;
}

.holarse-topbar a:hover, .holarse-topbar .btn-link:hover {
    color: #eaeaea;
    text-decoration: underline;
}

.holarse-menubar {
    background-color: #eaeaea;       
}

.holarse-menubar a {
    color: #222;
}

.holarse-menubar a:hover {
    color: #e84d3c;
    text-decoration: underline;
}

.holarse-menubar .btn-search {
    background-color: #e84d3c;
    border-color: #eaeaea;
}

.content {
    padding-top: 25px;
    padding-bottom: 55px;
}

.holarse-tags {
    color: #e84d3c;
    font-weight: bold;
    font-size: 0.8em;
}

.holarse-tags a {
    color: #e84d3c;
}

.holarse-node-menu .navbar-text {
    color: #495057;
}

.holarse-tags a:hover, .holarse-tags .btn-link:hover {
    text-decoration: underline;
}

.holarse-footer {
    font-size: 0.75em;
    background: #eaeaea;
    width: 100%;
    bottom: 0px;
    padding-bottom: 5px;
}

.holarse-context-menu {
    background: #eee;
    padding: 10px;
}

.holarse-context-menu .nav-link:hover {
    background: #e84d3c;
    color: #fff;
}
