<?xml version="1.0" encoding="UTF-8"?>
<server description="holarse-web">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.3</feature>
	<feature>servlet-4.0</feature>
	<feature>jpa-2.2</feature>
	<feature>jdbc-4.2</feature>
	<feature>beanValidation-2.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"
		  host="*" />

    <webApplication id="holarseweb1" location="${server.config.dir}/dropins/holarseweb.war" contextRoot="/" /> 

    <!-- Automatically expand WAR files and EAR files -->
<!--    <applicationManager autoExpand="true"/> -->

      <jdbcDriver     id="postgresql-driver"
                        javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"
                        javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
                        libraryRef="postgresql-library" />

        <library id="postgresql-library">
                <fileset id="PostgreSQLFileset" dir="${server.config.dir}/lib" includes="postgresql-42.2.5.jar"/>
        </library>

        <dataSource     id="holarseDS"
                        jndiName="jdbc/holarse" 
                        jdbcDriverRef="postgresql-driver" 
                        type="javax.sql.ConnectionPoolDataSource" 
                        transactional="true">
                <properties     serverName="holarse-data" 
                                portNumber="5432" 
                                databaseName="holarse" 
                                user="holarse" 
                                password="${DBPASS}" />
        </dataSource>


</server>
