<!-- Login -->
<div class="row justify-content-center">
    <div class="col-sm-8 col-lg-5">
        <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
            <header class="text-center mb-4">
                <h2 class="h2 g-color-black g-font-weight-600">Impressum</h2>
            </header>

            Holarse ist ein Gemeinschaftsprojekt von vielen Freiwilligen. Es wurde initiiert von:

            <!-- Border Dashed Tagline -->
            <div class="g-brd-around--dashed g-brd-gray-light-v3 g-line-height-2 g-rounded-3 g-pa-40 g-mb-30" role="alert">
                <p class="mb-0">
                    Bernd Ritter
                    Roggenkamp 32
                    27751 Delmenhorst
                    Email: contact at holarse-linuxgaming dot de
                </p>
            </div>
            <!-- End Border Dashed Tagline -->

            <div class="g-brd-around--dashed g-brd-gray-light-v3 g-line-height-2 g-rounded-3 g-pa-40 g-mb-30" role="alert">
                <p class="mb-0">
                    Euer Ansprechpartner für den Datenschutz:

                    Bernd Ritter
                    Email: comrad at holarse-linuxgaming dot de 
                </p>
            </div>
            <!-- End Border Dashed Tagline -->


        </div>
    </div>
</div>
<!-- End Login -->

