<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section" data-header-fix-moment="300">

    <div data-th-replace="~{fragments/topbar}"></div>


    <div class="u-header__section u-header__section--dark g-transition-0_3 g-py-10 holarse-box-shadow g-bg-white" data-header-fix-moment-exclude="u-header__section--light g-brd-bottom g-py-10 g-bg-white" data-header-fix-moment-classes="u-header__section--dark g-bg-black-opacity-0_7 g-py-0">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Logo -->
                <a data-th-href="@{/}" class="navbar-brand u-header__logo">
                    <img class="u-header__logo-img u-header__logo-img--main" width="75%" data-th-src="@{/assets/images/holarse/holarse_logo_text.svg}" alt="Holarse - Spielen unter Linux">
                </a>
                <!-- End Logo -->

                <!-- Navigation -->
                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-20 g-pt-5--lg" id="navBar">
                    <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                        <li class="nav-item g-mx-20--lg">
                            <a data-th-href="@{/news}" class="nav-link px-0">News</a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a data-th-href="@{/gamefinder}" class="nav-link px-0">Spiele-Finder</a>
                        </li>
                        <li class="nav-item g-mx-20--lg active">
                            <a data-th-href="@{/wiki}" class="nav-link px-0">Artikel</a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a data-th-href="@{/categories}" class="nav-link px-0">Kategorien</a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a data-th-href="@{/holarse-services}" class="nav-link px-0">Services</a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a data-th-href="@{/downloads}" class="nav-link px-0">Downloads</a>
                        </li>                    
                    </ul>

                    <!-- Search Form -->
                    <form id="searchform-1" class="u-searchform-v1" method="POST" action="/search">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" />
                        <div class="input-group g-brd-primary--focus">
                            <input class="form-control rounded-0 u-form-control" type="search" placeholder="Linuxspiele finden..." id="query" name="term" data-th-value="${term}">
                            <div class="input-group-addon p-0">
                                <button class="btn rounded-0 btn-primary btn-md g-font-size-14 g-px-18" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- End Search Form -->                

                </div>
                <!-- End Navigation -->
            </div>
        </nav>
    </div>
</header>
<!-- End Header -->