<!-- JS Global Compulsory -->
<script data-th-src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script data-th-src="@{/assets/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
<script data-th-src="@{/assets/vendor/popper.min.js}"></script>
<script data-th-src="@{/assets/vendor/bootstrap/bootstrap.min.js}"></script>
<script data-th-src="@{/assets/vendor/masonry/dist/masonry.pkgd.js}"></script>

<!-- PJ Plugins Init -->
<script data-th-src="@{/assets/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script data-th-src="@{/assets/vendor/datatables/media/js/jquery.dataTables.min.js}"></script>
<script data-th-src="@{/assets/vendor/datatables/media/js/dataTables.select.js}"></script>

<!-- JS Unify -->
<script data-th-src="@{/assets/js/hs.core.js}"></script>
<script data-th-src="@{/assets/js/components/hs.header.js}"></script>
<script data-th-src="@{/assets/js/components/hs.go-to.js}"></script>
<script data-th-src="@{/assets/js/components/hs.scrollbar.js}"></script>
<script data-th-src="@{/assets/js/components/hs.datatables.js}"></script>
 
<!-- JS Custom -->
<script data-th-src="@{/assets/js/custom.js}"></script>

