<!-- Required Meta Tags Always Come First -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<div data-th-replace="~{fragments/csrf}"></div>

<!-- Favicon -->
<link rel="shortcut icon" href="#" data-th-href="@{/assets/images/holarse/favicon.png}">

<!-- CSS Global Compulsory -->
<link rel="stylesheet" data-th-href="@{/assets/vendor/bootstrap/bootstrap.min.css}" href="">
<link rel="stylesheet" data-th-href="@{/assets/vendor/icon-awesome/css/font-awesome.css}" href="">
<link rel="stylesheet" data-th-href="@{/assets/vendor/bootstrap-select/css/bootstrap-select.min.css}" href="">

<link rel="stylesheet" data-th-href="@{/assets/vendor/icon-hs/style.css}" href="">

<!-- CSS Unify -->
<link rel="stylesheet" data-th-href="@{/assets/css/unify-core.css}" href="">
<link rel="stylesheet" data-th-href="@{/assets/css/unify-components.css}" href="">
<link rel="stylesheet" data-th-href="@{/assets/css/unify-globals.css}" href="">

<!-- CSS Customization -->
<link rel="stylesheet" data-th-href="@{/assets/css/holarse.css}" href="">
<link rel="stylesheet" data-th-href="@{/assets/css/custom.css}" href="">