<!-- Top Bar -->
<div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-holarse g-py-10">
    <div class="container">
        <div class="row flex-column flex-md-row justify-content-between align-items-center text-uppercase g-font-weight-600 g-color-white">
            <div class="col-auto g-px-15">
                <i class="fa fa-phone-square g-valign-middle g-mr-3"></i>
                Hier kommt ein lustiger Spruch!
            </div>

<!--            <div class="col-auto g-pos-rel g-px-15">
                <ul class="list-inline g-overflow-hidden g-font-size-12 g-mt-minus-10 g-mx-minus-4 mb-0">
                    <li class="list-inline-item g-mx-4 g-mt-10">
                        <a href="#" data-th-href="@{/workspace/add}" target="_blank" class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                            <i class="fa fa fa-plus-square"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mx-4 g-mt-10">|</li>                        
                </ul>
            </div>-->

                <div class="col-auto g-pos-rel g-px-15">
                    <ul class="list-inline g-overflow-hidden g-font-size-12 g-mt-minus-10 g-mx-minus-4 mb-0">            
            
                        <span sec:authorize="isAuthenticated()">
                            
                                    <li class="list-inline-item g-mx-4 g-mt-10">
                                        <a href="#" data-th-href="@{/workspace}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                                            <i class="fa fa fa-plus-square"></i>
                                        </a>
                                    </li>
                            
                                    <span sec:authorize="hasRole('ADMIN')">
                                        <li class="list-inline-item g-mx-4 g-mt-10">|</li>                                         
                                        <li class="list-inline-item g-mx-4 g-mt-10">
                                            <a href="#" data-th-href="@{/admin}" target="_blank" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Admin</a>
                                        </li>
                                        <li class="list-inline-item g-mx-4 g-mt-10">|</li>                        
                                    </span>
                                    <li class="list-inline-item g-mx-4 g-mt-10">
                                        <a href="#" data-th-href="@{/profile}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                                            <span sec:authentication="name"></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item g-mx-4 g-mt-10">|</li>                                                
                                    <li class="list-inline-item g-mx-4 g-mt-10">
                                        <a href="#" data-th-href="@{/logout}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Logout</a>
                                    </li>

                                </ul>
                            </div>
                        </span>

                        <span sec:authorize="!isAuthenticated()">
                                    <li class="list-inline-item g-mx-4 g-mt-10">
                                        <a href="#" data-th-href="@{/register}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Registrieren</a>
                                    </li>
                                    <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                                    <li class="list-inline-item g-mx-4 g-mt-10">
                                        <a href="#" data-th-href="@{/login}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Login</a>
                                    </li>
                        </span>
            
                </ul>
            </div>
            

        </div>
    </div>
</div>
<!-- End Top Bar -->