<!-- Top Bar -->
<div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-holarse g-py-10">
    <div class="container">
        <div class="row flex-column flex-md-row justify-content-between align-items-center text-uppercase g-font-weight-600 g-color-white">
            <div class="col-auto g-px-15">
                <i class="fa fa-phone-square g-valign-middle g-mr-3"></i>
                Hier kommt ein lustiger Spruch!
            </div>

            <div sec:authorize="isAuthenticated()">
                <div class="col-auto g-pos-rel g-px-15">
                    <ul class="list-inline g-overflow-hidden g-font-size-12 g-mt-minus-10 g-mx-minus-4 mb-0">

                        <div sec:authorize="hasRole('ADMIN')">
                            <li class="list-inline-item g-mx-4 g-mt-10">
                                <a href="#" data-th-href="@{/admin}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Admin</a>
                            </li>
                            <li class="list-inline-item g-mx-4 g-mt-10">|</li>                        
                        </div>
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="#" data-th-href="@{/profile}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">
                                <span sec:authentication="name"></span>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-4 g-mt-10">|</li>                                                
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="#" data-th-href="@{/logout}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Logout</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <div class="col-auto g-pos-rel g-px-15">
                    <ul class="list-inline g-overflow-hidden g-font-size-12 g-mt-minus-10 g-mx-minus-4 mb-0">
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="#" data-th-href="@{/register}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Registrieren</a>
                        </li>
                        <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="#" data-th-href="@{/login}" class="g-color-white g-color-primary--hover g-text-underline--none--hover">Login</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Top Bar -->