<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
        layout:decorate="~{layouts/base}">
<head>
</head>

<main layout:fragment="content" class="content-card">
    <nav class="row">
        <div class="col-12">
            <nav th:replace="~{fragments/breadcrumbs :: breadcrumb}"></nav>
        </div>
    </nav>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <!-- Title(s) -->
                    <p class="h1" th:text="${view.title1}">Article title</h2>
                    <!-- Alternative titles -->
                    <ul th:each="altTitle: ${view.alternativeTitles}" class="list-group list-group-horizontal">
                        <li class="list-group-item" th:text="${altTitle}"></li>
                    </ul>
                </div>      
            </div>
            <div class="row">
                <div class="col-12">
                    <span th:text="${view.content}"></span>
                </div>
            </div>
        </div>
        <div class="col-3 text-end">
            <p class="h2">Tags</p>
            <ul th:replace="~{sites/shared/tags/list :: taglist(tags=${view.tagList})}"></ul>

            <p class="h2">Screenshots</p>
            <p th:replace="~{sites/shared/screenshots :: render(screenshots=${view.screenshots})}"></p>

            <p class="h2">Videos</p>
            <p th:replace="~{sites/shared/videos :: render(videos=${view.youtubeVideos})}"></p>            

            <p class="h2">Links</p>
            <p th:replace="~{sites/shared/links :: links(links=${view.websiteLinks})}"></p>            

            <p class="h2">Revision</p>
            Aktuelle Revision: <div data-th-text="${view.revision}"></div>
            
            <!-- Actions -->
            <ul class="list-group">
                <a href="#" th:href="@{/wiki/{nodeId}/edit(nodeId=${view.nodeId})}" class="list-group-item flex-fill">bearbeiten</a>
                <a href="#" th:href="@{/wiki/{nodeId}/revisions(nodeId=${view.nodeId})}" class="list-group-item flex-fill">Änderungen</a>
                <a href="#" th:href="@{/wiki/{nodeId}/stats(nodeId=${view.nodeId})}" class="list-group-item flex-fill">Statistik</a>
            </ul>             
        </div>
    </div>
</main>
