<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
        layout:decorate="~{layouts/base}">
<head>
</head>

<main layout:fragment="content">
    <nav class="row">
        <div class="col-12">
            <nav th:replace="~{fragments/breadcrumbs :: breadcrumb}"></nav>
        </div>
    </nav>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <!-- Title(s) -->
                    <h2 class="u-heading-v2__title g-mb-10" data-th-text="${view.title1}">Lorem ipsum standard</h2>
                    <div th:each="altTitle: ${view.alternativeTitles}">
                        <h4 class="g-font-weight-200" data-th-text="${altTitle}"></h4>
                    </div>
                </div>      
            </div>
            <div class="row">
                <div class="col-12">
                    <span th:text="${view.content}"></span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!-- Tags -->
            <div class="u-heading-v1-2 g-bg-main g-brd-primary g-mb-20">
                <h2 class="h3 u-heading-v1__title">Tags</h2>
            </div>
            <ul th:replace="~{sites/shared/tags/list :: taglist(tags=${view.tagList})}"></ul>

            <!-- Screenshots -->
            <p th:replace="~{sites/shared/screenshots :: render(screenshots=${view.screenshots})}"></p>

            <!-- Videos -->
            <p th:replace="~{sites/shared/videos :: render(videos=${view.youtubeVideos})}"></p>            

            <!-- Links -->
            <div class="u-heading-v1-2 g-bg-main g-brd-primary g-mb-20">
                <h2 class="h3 u-heading-v1__title">Links</h2>
            </div>
            <p th:replace="~{sites/shared/links :: links(links=${view.websiteLinks})}"></p>            

            <!-- Revision -->
            <div>
                Aktuelle Revision: <div data-th-text="${view.revision}"></div>
            </div>
            
            <!-- Actions -->
            <ul class="list-group list-group-horizontal">
                <a href="?edit" class="list-group-item flex-fill">bearbeiten</a>
                <a href="#" class="list-group-item flex-fill" data-th-href="@{/wiki/{nodeId}/revisions(nodeId=${view.nodeId})}">Änderungen</a>
                <a href="?stats" class="list-group-item flex-fill">Statistik</a>
            </ul>             
        </div>
    </div>
</main>
