<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">
      <%= breadcrumbs.last.name %>
    </h1>
    <ul class="pull-right breadcrumb">
      <%= render_breadcrumbs tag: :li, separator: "" %>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
