<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <ul class="pull-right breadcrumb">
      <%= render_breadcrumbs tag: :li, separator: "" %>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
