{
	auto_https off
	debug
}

www.holarse.localhost:80 {
	rewrite * /holarseweb{uri}
	reverse_proxy * http://app:8080
}

amq.holarse.localhost:80 {
	reverse_proxy * http://amq:8161
}

mail.holarse.localhost:80 {
	reverse_proxy * http://mail:8025
}
