<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <!-- Breadcrumb-v1 -->
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="#!">Admin</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item">
                <span class="g-valign-middle">Drückblick-Einträge</span>
            </li>
        </ul>
    </div>
    <!-- End Breadcrumb-v1 -->

    <div class="g-pa-20">

        <div class="g-mb-20">
            <div class="d-flex">
                <div class="align-self-md-center">
                    <header>
                        <h2 class="g-font-weight-400 g-font-size-16 g-color-black mb-0">Drückblick-Einträge</h2>
                    </header>                
                </div>
            </div>
        </div>        

        <div class="table-responsive g-mb-40">
            <table class="table u-table--v3 g-color-black">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Kategorie</th>
                        <th>Nachricht</th>
                        <th>Quelle</th>
                        <th>Reporter</th>
                        <th>URL</th>
                        <th>Changelog</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="item: ${items}">
                        <td th:text=${item.id}></td>
                        <td th:text=${item.name}></td>
                        <td th:text=${item.category}></td>
                        <td th:text=${item.message}></td>
                        <td th:text=${item.source}></td>
                        <td th:text=${item.reporter}></td>
                        <td th:text=${item.url}></td>
                        <td th:text=${item.changelog}></td>
                        <td>
                            <a class="js-edit u-link-v5 g-color-gray-light-v6 g-color-lightblue-v3--hover" href="#!">
                                <i class="hs-admin-pencil"></i>
                            </a>
                            <a class="js-edit u-link-v5 g-color-gray-light-v6 g-color-lightblue-v3--hover" href="#!">
                                <i class="hs-admin-save"></i>
                            </a>                            
                            <a class="u-link-v5 g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover g-ml-12" href="#!">
                                <i class="hs-admin-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>