<div class="container g-py-150 text-center">
  <h1 class="g-font-size-60 mb-4">Dein Workspace</h1>
  <p class="g-font-size-18 mb-5">Das hier ist deine zentrale Stelle, um Inhalte auf Holarse zu erstellen, anzupassen oder zu planen. Hier kannst du Entwürfe speichern und veröffentlichen.</p>
  <a class="btn btn-sm u-btn-primary g-mr-10 g-mb-15" data-th-href="@{/workspace/add}">
      <i class="fa fa-plus g-mr-3"></i>
      Inhalte erstellen
  </a>
  <a class="btn btn-sm u-btn-darkgray g-mr-10 g-mb-15" data-th-href="@{/}">
      <i class="fa fa-home g-mr-3"></i>
      Zurück zur Startseite
  </a>
</div>